/build/
/dist/
**/target/
/target/
/nbproject/
.classpath
.project
.checkstyle
/.idea/
.idea/
**/.idea/
dependency-reduced-pom.xml
*backup*
Thumbs.db
*backup*.xml
*.log
/nb-configuration.xml
nb-configuration.xml
